@import "'https://fonts.googleapis.com/css?family=Open Sans:300,400|Raleway:100,300,500'"

$fa-font-path = "/fonts"
@import "../node_modules/fa-stylus/fa-stylus/index"


$HeaderFont
  font-family "Raleway", Arial, sans-serif
  font-weight 100
  letter-spacing 1px

$HeaderFontBold
  @extend $HeaderFont
  font-weight 300

$HeaderFontBolder
  @extend $HeaderFont
  font-weight 500

$BodyFont
  font-family "Open Sans", Arial, sans-serif
  font-weight 300

$BodyFontBold
  @extend $BodyFont
  font-weight 400