@import "'https://fonts.googleapis.com/css?family=Source Sans Pro:200,300|Raleway:100,300,500'"

$HeaderFont
  font-family "Raleway", Arial, sans-serif
  font-weight 100
  letter-spacing 1px

$HeaderFontBold
  @extend $HeaderFont
  font-weight 300

$HeaderFontBolder
  @extend $HeaderFont
  font-weight 500

$BodyFont
  font-family "Source Sans Pro", Arial, sans-serif
  font-weight 200

$BodyFontBold
  @extend $BodyFont
  font-weight 300