header
  @extend $HeaderFont
  letter-spacing 1px
  position relative
  width 100vw
  height $headerHeight
  margin-bottom 1.5em
  transition all 0.3s linear
  
  .headroom--unfixed &
    background-color transparent
    color $white

  .headroom--pinned &
    background-color $color1
    color $white
    box-shadow 0px 7px 26px -1px rgba(0,0,0,0.23)

  .brand
    position absolute
    height $headerHeight
    a
      @extend $NoLinkStyle
      padding 0 0.5em
      line-height $headerHeight
      font-size 1.5rem
      
  ul.nav
    position absolute
    height $headerHeight
    right 15px
    list-style none
    display flex
    flex-flow row no-wrap    
    justify-content center
    align-items center
    li
      display inline-block    
      height 48px
      margin-left 2em
      +below($width-s)
        margin-left 1em
      a
        @extend $NavLinkStyle
        font-size 1.2em
        display inline-block
        height 100%
        line-height 48px
        i
          display inline-block
          width 32px
          height 32px
          margin 8px 5px 0
