$NavLinkStyle
  @extend $LinkStyle
  color $white
  text-decoration none
  border 1px solid transparent
  transition all 0.2s linear
  padding 0 0.5em
  border-radius 5px
  &:hover, &.active
    color $white
    background-color transparent
    border 1px solid $white
  


header
  @extend $HeaderFont
  position relative
  width 100%
  height $headerHeight
  margin-bottom 1.5em
  transition all 0.3s linear
  
  background-color $color1
  color $white
  box-shadow 0px 7px 26px -1px rgba(0,0,0,0.23)

  
  .page.home .headroom--unfixed &
    background-color $color4
    color $white
    box-shadow none

  .page.home .headroom--pinned &
    background-color $color1
    color $white
    box-shadow 0px 7px 26px -1px rgba(0,0,0,0.53)

  .brand
    position absolute
    height $headerHeight
    a
      @extend $NoLinkStyle
      padding 0 0.5em
      line-height $headerHeight
      font-size 1.5rem
      
  ul.nav
    position absolute
    height $headerHeight
    right 15px
    list-style none
    display flex
    flex-flow row no-wrap    
    justify-content center
    align-items center
    li
      display inline-block    
      height 48px
      margin-right 1.3em
      +below($width-s)
        margin-right 1em
      &:last-child
        margin-right 0
      a
        @extend $NavLinkStyle
        font-size 1.2em
        display inline-block
        height 100%
        line-height 48px
      &.social
        margin-right 0.3em
        a
          font-size 1em
        
