i
  @extend .{$fa-css-prefix}
  display inline-block
  &.twitter
    fa-icon 'twitter'
  &.github
    fa-icon 'github'
  &.discuss
    fa-icon 'comments'
  &.menu
    fa-icon 'bars'
    transition all 0.2s linear
    &.open
      fa-icon-rotate(90deg, 1)
  &.changelog
    fa-icon 'code-fork'
    


