i
  display inline-block
  width 100%
  height 100%
  background-position center center
  background-repeat no-repeat
  &.twitter
    background-color $white
    retina-image("../img/icon-twitter.png", contain)
  // &.github
  //   background-color $white
  //   retina-image("../img/icon-github.png", contain)
