icon(name, rotation = 0deg)
  &:before
    @extend .{$fa-css-prefix}
  fa-icon name
  fa-icon-rotate(rotation, 1)


i
  display inline-block
  transition all 0.2s linear
  &.twitter
    icon 'twitter'
  &.github
    icon 'github'
  &.discuss
    icon 'comments'
  &.menu
    icon 'bars'
    &.open
      icon('bars' 90deg)
  &.changelog
    icon 'code-fork'
  &.arrow
    &.right
      icon 'angle-double-right'
    &.left
      icon('angle-double-right', 180deg)
