retina-image(path, w = auto, h = auto, min_pixel_ratio = 1.5)
  image(path, w, h, min_pixel_ratio)
  if w in (cover contain) and h == auto
    h = null
  background-size w h

text-bg-color-border-radius(color, paddingV = 0.1em, paddingH = 0.2em)
  padding paddingV paddingH
  background-color color
  border-radius 5px
  
