$color1 = #2C3E50
$color2 = #E74C3C
$color3 = #ECF0F1
$color4 = #3498DB
$color5 = #2980B9

$white = #fff
$black = #000

$gray-light = #ccc
$gray = #999
$gray-dark = #666


$width-xs = 500px
$width-s = 800px


$headerHeight = 64px