$EmbedObject
  max-width 100%
  box-shadow 0px 0px 11px 0px rgba(0,0,0,0.5)

.page.docs
  position relative

  main
    padding-top 2em

  section.content
    display inline-block
    vertical-align top
    width 79%
    padding-left 20px
    font-size 1rem
    line-height 1.5em
    word-wrap break-word

    +below($width-xs)
      width 100%
      padding 0 1em

    h1
      font-size 250%
      margin 0 0 1em
      line-height 1em
    h2
      font-size 160%
      margin 1.5em 0 1em
      line-height 1em
    h3
      font-size 130%
      margin 1.5em 0 1em
      line-height 1em
    p
      margin 1em 0
    em
      font-style italic
      font-size 90%
    ol
      list-style decimal
    ul
      list-style disc
    ol,ul
      margin 1em 0 1em 3em
      li
        padding 0.2em 0
    img
      @extend $EmbedObject
    code
      @extend $CodeFont
      &[class*='hljs']
        @extend $EmbedObject
        display block
        border-radius 5px
        // overflow-x scroll
        word-wrap normal
        margin-bottom 1.7em
      &:not([class*='hljs'])
        display inline
        font-size 110%
        text-bg-color-border-radius($color3)

    .prev-next
      display flex
      flex-flow row wrap
      justify-content space-between
      align-items center
      margin-top 4em
      font-size 75%
      width 100%


  aside
    @extend $BodyFont
    display inline-block
    vertical-align top
    padding 0 20px 0 0
    border-right 1px solid $color3
    font-size 1rem
    width 20%
    overflow hidden

    a
      border-bottom none
      &:hover
        border-bottom 1px dashed $black

    li.active > a
      @extend $BodyFontBold
      font-size 140%
      color $black
      border-bottom 1px dashed $black
      &:hover
        color $white

    > ul
      > li
        line-height 2em
        > ul
          display none
        &.active
          > ul
            color $black
            display block
            font-size 80%
            margin 0.7em 0 0 2em
            > li
              line-height 1.8em

    +below($width-xs)
      // display none
      position fixed
      top 0
      left 0
      width 100vw
      height 100vh
      z-index 2
      left -100vw
      transition all 0.2s linear
      overflow-y scroll
      background-color $white
      standard-box-shadow()
      ul
        margin 1em 0 0 4em
      &.mobile.visible
        left 0

  button.nav.mobile
    rawbutton($white, $color5, $color5, $white, $color4, $color4)
    display none
    position fixed
    top $headerHeight
    left 0
    padding 0.2em 0.3em
    font-size 1.5rem
    border-top-left-radius 0
    border-bottom-left-radius 0
    border-left none
    z-index 4
    &:hover
      border-top-left-radius 0
      border-bottom-left-radius 0
      border-left none
    +below($width-xs)
      display block
