.page.docs
  position relative
  
  aside
    > ul
      font-size 1.5rem
      > li
        padding 0.5em 0
        > ul
          display none
        &.active
          > ul
            display block
            font-size 70%
            margin 0.5em 0 0 1em
            > li
              padding 0.3em 0