$EmbedObject
  max-width 100%
  box-shadow 0px 0px 11px 0px rgba(0,0,0,0.5)

.page.docs
  position relative
  
  main
    padding-top 2em

  section.content
    display inline-block
    vertical-align top
    width 79%
    padding-left 20px
    font-size 1rem
    line-height 1.5em
    h1
      font-size 250%
      margin 0 0 1em
      line-height 1em
    h2
      font-size 160%
      margin 0 0 1em
      line-height 1em
    p
      margin 1em 0      
    ol
      list-style decimal
    ul
      list-style disc
    ol,ul
      margin 1em 0 1em 3em
      li
        padding 0.2em 0
    img
      @extend $EmbedObject
    code
      @extend $CodeFont
      &[class*='hljs']
        @extend $EmbedObject
        display block
        border-radius 5px
        overflow-x scroll
        margin-bottom 1.7em
      &:not([class*='hljs'])
        display inline
        font-size 110%
        text-bg-color-border-radius($color3)


  aside
    @extend $BodyFont
    display inline-block
    vertical-align top
    padding 0 20px 0 0
    border-right 1px solid $color3
    font-size 1rem
    width 20%
    overflow hidden
    
    a
      border-bottom none
      &:hover
        border-bottom 1px dashed $black
        
    li.active > a
      @extend $BodyFontBold
      font-size 150%
      color $black
      border-bottom 1px dashed $black
      &:hover
        color $white
        
    > ul
      > li
        line-height 2em
        > ul
          display none
        &.active
          > ul
            color $black
            display block
            font-size 80%
            margin 0.7em 0 0 2em
            > li
              line-height 1.8em
