.page.home
  position relative
  
  .splash
    position absolute
    top 0
    left 0
    width 100vw
    height 100vh
    background-color $color4
    display flex
    flex-flow column no-wrap
    justify-content center
    align-items center
    color $white
    font-size 1.7rem
    
    h1
      font-size 250%
      text-transform lowercase
    p.tagline
      @extend $HeaderFontThin
      margin 0.2em 0 1em
    p.description
      font-size 80%
      
        