.page.home
  position relative
  
  .splash
    position absolute
    top 0
    left 0
    width 100vw
    height 100vh
    background-color $color4
    display flex
    flex-flow column no-wrap
    justify-content center
    align-items center
    color $white
    font-size 1.7rem
    text-align center
    
    h1
      font-size 300%
      text-transform lowercase
    p.tagline
      @extend $HeaderFont
      margin 0.6em auto 1em
      width 70%
    p.description
      @extend $BodyFont
      font-size 80%
      line-height 1.2em
      margin 0 auto
      width 50%
      

    .actions
      margin 2em 0
      a
        @extend $ButtonStyle
        font-size 80%
        color $white
        border 1px solid $white
        margin 0 0.5em
        &:hover
          background-color $white
          color $black

    .meta
      font-size 60%
      span
        display inline-block

        